.portrait-cv{
    min-width: 50px;
    max-width: 200px;
    min-height: 50px;
    max-height: 200px;
    /* height: 200px; */
    display: flex;
    justify-self: center;
}

.left-side>*{
    display: flex;
    justify-content: flex-end;
}

.introduction {
    text-align: justify;
    white-space: pre-wrap;
}
p{
    text-align: justify;
}

h1,h4,h5 {
    color: whitesmoke;
}

/* img#skills-icon, img#studies-icon, img#work-icon{
    justify-self: flex-end;
} */

.icon-image {
    display: flex;
    justify-content: flex-end;
}

#skills-icon, #studies-icon, #work-icon{
    max-width: 40px;
    display: flex;
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 5px;
    margin-right:10px;
}

a{
    color: whitesmoke;
}
.right-side>*{
    word-wrap: break-word;
    padding-left: 20px;
}

.row,.col{
    /* display: flex; */
    align-items: center;
    margin-top: 2px;
    margin-bottom: 2px;
}
.col{
    /* display: flex; */
    align-items: center;
    
}

.download-col{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.download-col>a{
   border: black 1px solid;
   border-radius: 5px;
   padding: 4px;
   background-color: whitesmoke;
   color: black;
   font-weight: 600;
}