.portrait-cv{
    min-width: 50px;
    max-width: 200px;
    min-height: 50px;
    max-height: 200px;
    /* height: 200px; */
    display: flex;
    justify-self: center;
}

div.left-side.col > {
    display: flex;
    justify-content: center;
}

div.right-side.col {

}

.introduction {
    text-align: justify;
    white-space: pre-wrap;
}
p{
    text-align: justify;
}

h1,h4,h5 {
    color: whitesmoke;
}

img#skills-icon, img#studies-icon, img#work-icon{
    justify-self: flex-end;
}

.icon-image {
    display: flex;
    justify-content: flex-end;
}

#skills-icon, #studies-icon, #work-icon{
    max-width: 40px;
    display: flex;
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 5px
}

.col-md-9>li{
    font-size: 18px;
    font-weight: 600;
}
a{
    color: whitesmoke;
}
.right-side>p,.right-side>p>a{
    word-wrap: break-word;
}

.row,.col{
    display: flex;
    align-items: center;
}