.message {
    display: inline-block;
    margin-top: 20px;
    height: auto;
    width: 300px;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 5px;
    z-index: 2000;
    background-color: whitesmoke;
}

.message-text {
    width:100%;
    height: auto;
    padding-bottom: 7px;
    padding-top: -7px;
    display:flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}

.message-button {
    width: 100%;
    height: auto;
    font-size: 14px;
}

.message-button > button {
    background: none;
    border: none;
    float: right;
    font-weight: 600;
}

.message-text > p {
   color: black;
}
