.player {
    visibility: hidden;
    height: 1px;
}
.quote-div{
    width: fit-content;
    margin: auto;
}

q{
    text-align: justify;
    text-justify:newspaper;
    color: whitesmoke;
    font-style: italic;
}
.quote-owner {
    font-size: 12px;
    text-align: end;
    color: whitesmoke;
}
.personal-div {
    max-width: 900px;
    margin: 0 auto;
}
.link-to-youtube{
    color: black;
    font-size:medium;
    font-weight: 500;
}

.video-options{
    display: flex;
    justify-content: space-between;
    align-content: center;
}

#volume  {
    width: 30px !important;
    height: 30px !important;
    background: none;
    border:none;
    display: flex;
    justify-items: center;
    align-items: center;
}

button>img{
    width: 15px;
    height: 15px;
    background:none;
}

.carousel-intro{
    display: flex;
    justify-content: center;
    color: whitesmoke;
    margin: auto;
}

h6.carousel-intro{
    justify-self: center;
    text-align: center;
    text-justify:newspaper;
}