.input-field {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
}


.input-field p{
    width: 100px;
    text-justify: center;
    margin: 5px;
}

.input-field:nth-child(3){
    align-items: flex-start;
}

.input-field input{
    width: 300px;
    margin: 5px;
    border-radius: 5px;
}

.input-field textarea{
    width: 300px;
    height: 200px;
    margin: 5px;
    border-radius: 5px;
}

.invalid-field {
    border: 2px solid red;
}